/* Custom Color Picker Styling */
input[type="color"] {
    -webkit-appearance: none;
    border: 1px solid #e5e7eb;
    /* Thin light gray border */
    border-radius: 0.25rem;
    padding: 0;
    background: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 0.20rem;
    /* Slightly smaller to fit inside if needed, or matched */
    padding: 0;
}